<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bloom Pharmacy | Home</title>
</head>

<body>
  <section>
    <div>

      <img src="/images/produts.webp" alt="Offer" width="250" />
      <h2>30% off from your first order</h2>
    </div>
  </section>

  <section>

    <div id=category>
      <a href="/products?category=Skincare"> Skin Care </a>
      <a href="/products?category=Haircare"> Hair care</a>
      <a href="/products?category=Nails"> Nails</a>
      <a href="/products?category=Vitamins">Vitamins </a>
    </div>
  </section>

</body>
</html>
