body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.products-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.products-title {
  background-color: white;
  padding: 12px;
  border: 1px solid white;
  font-size: 24px;
  margin-bottom: 40px;
}
.products-types {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.product-card {
  width: 300px;
  height: 350px;
  background-color: white;
  border: 1px solid rgb(193, 193, 193);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
