<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Products Page</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <div class="products-container">
      <h2 class="products-title">Products</h2>

      <div class="products-types">
        <a href="/products?product=skincare" class="product-card">
          Skin Care
        </a>

        <a href="/products?product=hair" class="product-card"> Hair Style </a>

        <a href="/products?product=nails" class="product-card"> Nails </a>

        <a href="/products?product=vitamins" class="product-card"> Vitamins </a>
      </div>
    </div>

    <%- include("../partials/footer") %>
  </body>
</html>
